.model-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;

  &.active {
    background: rgba(#095BD6, .5);

    &:hover {
    background: rgba(#095BD6, .5);
    }
    
    .model-preview__check {
      display: block;
    }
  }

  &:hover {
    background-color: #D0D0D0;
  }

  &__name {
    font-size: 24px;
  }

  &__check {
    display: none;

    &:before {
      content: '\2718';
      font-size: 20px;
      color: black;
    }
  }
}
