html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Play";
  width: 100%;

  //@include normal-text;
}

html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-smoothing: subpixel-antialiased;
}

input::-ms-clear {
  display: none;
}

input::placeholder {
  opacity: 1 !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption,
th,
td {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

select:focus,
textarea:focus,
button:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 0;
  padding: 0;
}

p {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

h1, h2, h3,
h4, h5 {
  margin: 0;
}

